@font-face {
    font-family: poppins-bold;
    src: url(/fuentes-texto/Poppins/poppins-bold-webfont.woff) format('woff'),
         url(/fuentes-texto/Poppins/poppins-bold-webfont.woff2) format('woff2'),
         url(/fuentes-texto/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: poppins-light;
    src: url(/fuentes-texto/Poppins/poppins-light-webfont.woff) format('woff'),
         url(/fuentes-texto/Poppins/poppins-light-webfont.woff2) format('woff2'),
}

@font-face {
    font-family: poppins-lighitalic;
    src: url(/fuentes-texto/Poppins/poppins-lightitalic-webfont.woff) format('woff'),
         url(/fuentes-texto/Poppins/poppins-lightitalic-webfont.woff2) format('woff2'),
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: rgb(226, 230, 228);
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="email"] {
    appearance: none; /* For Webkit browsers */
    -moz-appearance: none; /* For Mozilla Firefox */
    -webkit-appearance: none; /* For Webkit browsers */
    padding: 0;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    box-shadow: none;
    line-height: inherit;
}
.page-container {
    display: flex;
    height: 70vw;
}

.sidebar-panel {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-image: url(img/imagen_2023-10-09_115607904.png);
}

.logo {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: rgba(170, 167, 167, 0.3);
    margin-top: 160px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

@keyframes release {
    from {left: 0px}
    to {left: 1300px}
}

.release {
    position: relative;
    animation-name: release;
    animation-duration: 40s;
}

.logo .roomba {
    width: 100px;
    height: 100px;
    
}

.logo .logo-text {
    width: 100%;
    height: 100px;
}

.main-panel {
    padding: 50px;
    width: 65%;
    padding: 0;
}

.block {
    display: flex;
    flex-direction: column;
    height: 33%;
    width: auto;
}

div.block:first-of-type {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: end;
    gap: 30px;
    box-sizing: border-box;
    padding-bottom: 70px;
    width: 80%;
    font-size: x-large;
    font-weight: 700;
}

.italic {
    font-family: poppins-lighitalic;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: rgb(233, 236, 237);
    
}

.form-panel{
    display: flex;
    width: 100%;
    height: 100%;
}

ul.input-container {
    list-style-type: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    padding: 10px 40px 10px;
    justify-content: space-around;
    
}

.legend {
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 10px;
    margin-bottom: -20px;
}

legend {
    height: 30%;
    font-size: x-large;
    font-weight: 700;
    justify-self: center;
}

input,
textarea,
select,
button {
    border-radius: 5px;  
    width: 230px;
    height: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: inherit;
    text-align: center;
    appearance: none;
}

label,input {
    display:flex;
    flex-direction:column;
} 

label {
    font-family: poppins-light;
    font-size: large;
}

.button {
    padding-top: 30px;
    padding-left: 40px;
}

.button > p {
    margin-top: 30px;
}

#submit {
    min-height: 53px;
    min-width: 166px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(12, 16, 17, 0.5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
    background: linear-gradient(90deg, rgba(64, 120, 15, 0.5) -12.74%, rgba(64, 120, 15, 0.271) 56.76%);
    border: 2px solid #0a1516;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

#sumbit:before {
    content: "";
    width: 4px;
    height: 28px;
    background: #19173b;
    border: 2px solid #acf7ff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    bottom: -7px;
    left: 4px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#submit:after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: -2px;
    border-top: 15px solid transparent;
    border-left: 15px solid #fffcf7;
}

#release {
    align-self: flex-end;
    margin-top: auto;
    flex-wrap: wrap;
    width: 100px;
    height: fit-content;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .25);
    transition-property: transform;
    transition-duration: .2s;
    -webkit-user-select: none;
    user-select: none;
}

.button:active .button-top {
    transform: translateY(6px);
}

.button-top::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: radial-gradient(#cd3f64, #9d3656);
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
    transition-property: border-radius, padding, width, transform;
    transition-duration: .2s;
}

.button:active .button-top::after {
    border-radius: 6px;
    padding: 0 2px;
}
/*input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
*/

input:valid {
    border: none;
    outline: solid 1px rgba(19, 158, 30, 0.6);
    box-shadow: 0px 0px 3px 1px rgba(19, 158, 30, 0.6);
    background-color: rgba(19, 158, 30, 0.3);
}
input:required:focus:invalid {
    border: none;
    outline: solid 1px rgba(158, 19, 19, 0.6);
    box-shadow: 0px 0px 3px 1px rgba(158, 19, 19, 0.6);
    background-color: rgba(158, 19, 19, 0.3);
}



